
#mapid {
    height: 550px;
    width: 75%;
    display: inline-block;
}

#panel{
    width: 18%;
    padding: 20px;
    text-align: center;
    display: inline-block;
    float: right;
    vertical-align: top;
}

#state_list{
    text-align: left;
}

.mapControls{
    width: 150px;
    background-color: rgba(255,255,255,0.8);
    padding: 2px;
    text-align: left;
    
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#slider{
    text-align: center;
    width: 75%;
}

.leaflet-popup-content h4 {
    margin: 0.2em 0;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.range-slider {
    width: 150px;
}

#forward{
    float: right;
}

#reverse{
    float: left;
}