body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}


#main_header{
    background-color: #595959;
    color: white;
    text-align: center;
    /*
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: solid white 1.25px;
    */

    
}

#header_title{
    margin: 0px;
    padding: 5px;
    
}

#header_month{
    margin: 0px;
    padding: 5px;
}

#mapid {
    height: 550px;
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#footer{
    background-color: #595959;
    color: white;
    text-align: left;
    margin: 0px;
    padding: 0px;   
}




@media only screen and (min-width: 768px){
#panel{
    width: 12%;
    left: 5px;
    height: auto;
    max-height: 55%;
    position: absolute;
    bottom: 50%;
    transform: translateY(+50%);
    padding: 5px;
    text-align: center;
    vertical-align: top;
    background-color: #d9d9d9;
    border: solid black 1.25px;
    z-index: 1000;
    overflow-y: auto;
}

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   #panel{
   position: absolute;
   left: -250;
  }
}

#state_list{
    padding: 0px;
    text-align: left;
    list-style-type: none;
}

.mapControls{
    width: auto;
    background-color: #d9d9d9;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    border: solid black 1.25px;
    
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    background-color: #d9d9d9;
    border: solid black 1.25px;
}

.legend-control-container{
    width: auto;
    height: auto;
    background-color: #d9d9d9;
    padding: 2px;
    text-align: center;
    border: solid gray 1px;
    
}

#temporal-legend{
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 5px;
}

#temporal-legend i {
    width: 70px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border: solid gray 1px;
}

#month-legend{
    font-size: 16px; 
}


.range-slider{
    -webkit-appearance: none;
    text-align: center;
    background: grey;
}

.leaflet-popup-content h4 {
    margin: 0.2em 0;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.range-slider {
    width: 150px;
}

#forward{
    float: right;
}

#reverse{
    float: left;
}

a{
    color: floralwhite;
}