body{
    margin: 0;
    padding: 0;
}


#main_header{
    background-color: rgb(255,255,255,1);
    margin-bottom: 5px;
    color: black;
    text-align: center;
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: solid black 1px;

    
}

#main_header h2{
    margin 0 px;
    
}

#mapid {
    height: 550px;
    width: 100%;
    display: inline-block;
}

#panel{
    width: 15%;
    height: auto;
    max-height: 65%;
    position: absolute;
    bottom: 50%;
    transform: translateY(+50%);
    padding: 5px;
    text-align: center;
    vertical-align: top;
    background-color: rgb(255,255,255,.70);
    z-index: 1000;
    overflow-y: auto;
}

#panel ul{
    width 0%;
}

#state_list{
    text-align: left;
}

.mapControls{
    width: 150px;
    background-color: rgba(255,255,255,0.8);
    padding: 2px;
    text-align: left;
    border: solid gray 1px;
    
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container{
    width: 150px;
    background-color: rgba(255,255,255,0.8);
    padding: 2px;
    text-align: center;
    border: solid gray 1px;
    
}

#temporal-legend i {
    width: 50px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border: solid gray 1px;
}

#slider{
    text-align: center;
    width: 75%;
}

.leaflet-popup-content h4 {
    margin: 0.2em 0;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.range-slider {
    width: 150px;
}

#forward{
    float: right;
}

#reverse{
    float: left;
}